@charset "utf-8";

:root {
  --text-color: hsl(210, 11%, 15%);
  --gray: hsl(210, 7%, 56%);
  --light-gray: hsl(210, 17%, 95%);
  --extra-light-gray: hsl(210, 17%, 98%);
  --white: hsl(0, 0%, 100%);
  --red: hsl(342, 63%, 46%);

  --background--header: #fff;
  /* --background--main: #f3f3f3; */
  --background--main: rgb(242,242,242);
  /* --background--main: #fafafa; */
  --background--footer: #ececec;
/* 
  --z-static:             0;
  --z-loading-indicator:100;
  --z-nav-menu:         200;
  --z-dropdown-menu:    300;
  --z-modal-backdrop:   400;
  --z-model-body:       410; */

  --z-dropdown:       1000;
  --z-sticky:         1020;
  --z-fixed:          1030;
  --z-modal-backdrop: 1040;
  --z-modal:          1050;
  --z-popover:        1060;
  --z-tooltip:        1070;


  --radius-A:   4px;
  --radius-B:   6px;
  --radius-C:   8px;
  --radius-X:   20px;
  --radius-Y:   24px;
  --radius-Z:   29px;
  
  box-sizing: border-box;
  color: var(--text-color);
  font-size: calc(1vw + 0.6em);
}
*,
*::before,
*::after {
  box-sizing: inherit;
}

@media (min-width: 35em) {
    :root {
        /* font-size: 1.125em; */
        font-size: 1em;
    }
}

body {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  margin: 0;
  font-family: "Open Sans", sans-serif;
  line-height: 1.4;
  letter-spacing: 0.01em;
  background-color: var(--background--main);
}
main {
  flex: 1;
  margin-top: 0em;
  color: #000;
}

h1, h2, h3, h4 {
  font-family: Poppins, sans-serif;
  letter-spacing: 0.03em;
  margin:0;
  padding-top: .3em;
  padding-bottom: .3em;
}
h1 {
  font-size: 1.5rem;
  font-weight: 600;
}
h2 {
  font-size: 1.3rem;
  font-weight: 500;
}
h3 {
  font-size: 1.2rem;
  font-weight: 400;
}
em {
  font-weight: 500;
}
@media (min-width: 50em) {
  h1 {
    font-size: 1.8rem;
  }
  h2 {
    font-size: 1.5rem;
  }
  h3 {
    font-size: 1.3rem;
  }
}
/*
 * Links
 */
a {
  color: #000;
  text-decoration: none;
}
a:visited {
  color: var(--gray);
}
a:hover {
  color: #000;
}
a:active {
  color: #000;
}

.a_initial a {
  color: #0066cc;
  text-decoration: none;
}
.a_initial a:visited {
  color: revert;
}
.a_initial a:hover {
  color: revert;
}
.a_initial a:active {
  color: revert;
}

section a {
  color: #0066cc;
  text-decoration: none;
}
section a:visited {
  color: revert;
}
section a:hover {
  color: revert;
  text-decoration: underline;
}
section a:active {
  color: revert;
}

a.underline {
  text-decoration: underline;
}
/*
 * utilities
 */
.debug-border {
  border: 1px solid lightseagreen;
}