@charset "utf-8";

.footer {
    clear: both;
    color: #666;
    /* position: relative; */
    height: 2.4em;
    line-height: 2.4em;
    background-color: #ececec;
    /* margin-top: -2.4em; */
    margin-top: 5em;
    text-align: right;
    padding-right: 3em;
}