@charset "utf-8";


/*
* Nav Menu
*/
.nav-menu {
    margin: 0;
    padding-left: 0;
    border: 1px solid #ccc;
    list-style: none;
    background-color: #fff;
}

.nav-menu > li + li {
    border-top: 1px solid #ccc;
}

.nav-menu > li > a {
    display: block;
    padding: 0.8em 1em;
    font-weight: 500;
    
}
.nav-menu > li > a:hover {
    background-color: #969696;/* #dedede */
    color: #fff;
    text-decoration: none;
}
.nav-menu a:visited {
    color: var(--text-color);
}

.nav-menu a:active {
    color: var(--red);
}
@media (min-width: 35em) {
    .nav-menu {
        border: 0;
    }

    .nav-menu > li {
        display: inline-block;
    }
    .nav-menu > li + li {
        border: 0;
        padding-left: 2em;
    }

    .nav-menu > li > a {
        padding: 0.3em;
        text-align: left;
        font-weight: 600;
        border-radius: 5px 5px 0 0;
    }
    .nav-menu a:visited {
        color: var(--text-color);
    }
    .fundamentals   li.nav_fundamentals > a,
    .sorting       li.nav_sorting > a,
    .searching      li.nav_searching > a,
    .graphs         li.nav_graphs > a,
    .strings        li.nav_strings > a,
    .nav-menu a:hover {
        background-color: #969696;
        color: #fff;
    }
    .nav-menu a:active {
        color: var(--red);
    }
}


